<ng-container *ngIf="this.book">
    <div class="book-cover">
        <img alt="Capa do livro" [src]="this.book.bookCoverUrl">
    </div>
    <div class="book-data">
        <div class="book-data__name-and-author">
            <span class="book-data__name text-preset-430">{{this.book.title}}</span>
            <span class="book-data__author text-preset-350">{{this.book.author}}</span>
        </div>
        <span class="book-data__price text-preset-430">R$ {{this.priceInReal}}<span class="text-preset-230">,{{this.priceInCentavos}}</span></span>
        <div class="book-data__rate">
            <div class="rate__stars">
                <span class="icon-full-star"></span>
                <span class="icon-full-star"></span>
                <span class="icon-full-star"></span>
                <span class="icon-full-star"></span>
                <span class="icon-empty-star"></span>
            </div>
            <span class="rate__quantity">({{this.book.reviewsQuantity}})</span>
        </div>
    </div>
</ng-container>