:host {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.book-cover {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 128px;
}

.book-cover > img {
    left: 50%;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

.book-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 172px;
}

.book-data__name-and-author {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.book-data__name {
    display: -webkit-box;
    color: var(--c-dark-80);
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.book-data__author {
    color: var(--c-dark-60);
}

.book-data__price {
    color: var(--c-dark-80);
}

.book-data__out-of-stock {
    color: var(--c-red-60);
}