<app-default-page>
    <span class="page-title text-preset-650">Seu carrinho</span>
    <ng-container *ngIf="this.cart.length > 0">
        <div class="items">
            <app-cart-item
                [cartItem]="cartItem"
                *ngFor="let cartItem of this.cart"
            ></app-cart-item>
        </div>
        <div class="buttons-row">
            <app-button [label]="'Fechar pedido'" [type]="'primary'"></app-button>
        </div>
    </ng-container>
    <span class="empty-cart-label text-preset-450" *ngIf="this.cart.length === 0">Nenhum item no carrinho</span>
</app-default-page>