:host {
    display: contents;
}

.search {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 720px;
    width: 100%;
}

.welcome-message {
    color: var(--c-dark-80);
}

.search-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

app-book-preview {
    cursor: pointer;
}

.load-more {
    color: var(--c-dark-80);
    cursor: pointer;
    transition: 250ms;
}

.load-more:hover {
    color: var(--c-dark-100);
}