:host {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.icon-books {
    font-size: 60px;
}

.name {
    display: flex;
    flex-direction: column;
}

.name__first-name {
    color: var(--c-dark-80);
    font-family: 'Roboto';
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
}

.name__second-name {
    color: var(--c-dark-80);
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}