:host {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.book-cover {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 128px;
}

.book-cover > img {
    left: 50%;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

.book-data {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.book-data__name-author-and-remove-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.book-data__name-and-author {
    display: flex;
    flex-direction: column;
}

.book-data__name {
    color: var(--c-dark-80);
}

.book-data__author {
    color: var(--c-dark-60);
}

.book-data__remove-item {
    color: var(--c-primary-60);
    cursor: pointer;
}

.book-data__quantity {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.quantity__label {
    color: var(--c-dark-80);
}

.book-data__price {
    color: var(--c-dark-80);
}