:host {
    display: contents;
}

button {
    align-items: center;
    background-color: var(--c-primary-60);
    border: none;
    border-radius: 8px;
    color: var(--c-white-10);
    cursor: pointer;
    display: flex;
    height: 20px;
    outline: none;
    padding: 0px 8px;
}