<app-default-page>
    <div class="search">
        <span class="text-preset-650 welcome-message">Boas-vindas! Faça a busca pelo nome do livro ou autor(a)</span>
        <div class="search-group">
            <app-field></app-field>
            <app-button [type]="'search'"></app-button>
        </div>
    </div>
    <div class="books">
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
    </div>
    <span class="load-more text-preset-470">Carregar mais</span>
</app-default-page>