<app-default-page>
    <div class="search">
        <span class="text-preset-650 welcome-message">Boas-vindas! Faça a busca pelo nome do livro ou autor(a)</span>
        <div class="search-group">
            <app-field></app-field>
            <app-button [type]="'search'"></app-button>
        </div>
    </div>
    <div class="books">
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
        <app-book-preview></app-book-preview>
    </div>
    <span class="load-more text-preset-470">Carregar mais</span>
</app-default-page>
<app-modal
    (closeButtonClick)="this.closeButtonClick()"
    [closeButtonLabel]="'Entendido'"
    [textContent]="'Esse aplicativo é uma demo de um e-commerce de livros. Por ser uma demo, as compras não podem ser concluídas, mas, você pode adicionar itens ao carrinho, fornecer um endereço de entraga e escolher um método de pagamento.\n\nOs dados dos livros foram retirados da amazon no dia 03/07/2022'"
    [title]="'Boas vindas!'"
    *ngIf="this.showWelcomeModal"
></app-modal>