<app-logo></app-logo>
<app-alert
    [canClose]="true"
    (close)="this.showAlert = false"
    [message]="this.errorMessage"
    *ngIf="this.showAlert"
    [type]="'error'"
></app-alert>
<form [formGroup]="this.form" [noValidate]>
    <app-field
        [abstractControl]="this.form.controls['username']"
        formControlName="username"
        [label]="'Email'"
    ></app-field>
    <app-field
        [abstractControl]="this.form.controls['password']"
        formControlName="password"
        [label]="'Nova senha'"
        [type]="'password'"
    ></app-field>
</form>
<div class="buttons-row">
    <app-button [label]="'Voltar'" [routerLink]="'/user'" [type]="'secondary'"></app-button>
    <app-button (btnClick)="this.retrievePassword()" [disabled]="this.form.invalid" [label]="'Alterar senha'"></app-button>
</div>