:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    min-height: 100%;
    overflow: scroll;
    padding: 40px;
    width: 100%;
}

:host > * {
    max-width: 1200px;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}