<app-default-page>
    <ng-container *ngIf="this.book">
        <div class="book-info">
            <div class="book-cover">
                <img alt="Capa do livro" [src]="this.book.bookCoverUrl">
            </div>
            <div class="book-data">
                <div class="book-data__name-author-and-rate">
                    <div class="book-data__name-and-author">
                        <span class="book-data__name text-preset-520">{{this.book.title}}</span>
                        <span class="book-data__author text-preset-350">Por: {{this.book.author}}</span>
                    </div>
                    <div class="book-data__rate">
                        <div class="rate__stars">
                            <span class="icon-full-star"></span>
                            <span class="icon-full-star"></span>
                            <span class="icon-full-star"></span>
                            <span class="icon-full-star"></span>
                            <span class="icon-empty-star"></span>
                        </div>
                        <span class="rate__quantity">({{this.book.reviewsQuantity}})</span>
                    </div>
                </div>
                <div class="book-data__price-and-installment">
                    <span class="book-data__price text-preset-430">R$ {{this.priceInReal}}<span class="text-preset-230">,{{this.priceInCentavos}}</span></span>
                    <span class="book-data__installment text-preset-350">ou até 4x de R$ 17,50 sem juros - <span class="installment__link" (click)="this.toggleShowInstallmentModal()">Ver parcelamento</span></span>
                </div>
                <div class="book-buy-or-add-to-cart" *ngIf="!this.isItemOnCart">
                    <app-button (btnClick)="this.buyNow()" [label]="'Comprar'"></app-button>
                    <app-button (btnClick)="this.addToCart()" [label]="'Adicionar ao carrinho'" [type]="'secondary'"></app-button>
                </div>
                <div class="book-added-to-cart" *ngIf="this.isItemOnCart">
                    <span class="icon-check"></span>
                    <span class="book-added-to-cart__label">Adicionado ao carrinho</span>
                </div>
            </div>
        </div>
        <div class="book-synopsis">
            <span class="book-synopsis__section-title text-preset-520">Sinopse</span>
            <span class="book-synopsis__description text-preset-450">{{this.book.description}}</span>
        </div>
    </ng-container>
</app-default-page>
<app-modal
    (closeButtonClick)="this.toggleShowInstallmentModal()"
    [closeButtonLabel]="'Entendido'"
    *ngIf="this.showInstallmentModal"
    [title]="'Opções de parcelamento'"
>
    <table class="table">
        <tbody>
            <tr>
                <td>1x sem juros</td>
                <td class="price-cell">{{ 70 | currency }}</td>
            </tr>
            <tr>
                <td>2x sem juros</td>
                <td class="price-cell">{{ 35 | currency }}</td>
            </tr>
            <tr>
                <td>3x sem juros</td>
                <td class="price-cell">{{ 23.34 | currency }}</td>
            </tr>
            <tr>
                <td>4x sem juros</td>
                <td class="price-cell">{{ 17.5 | currency }}</td>
            </tr>
            <tr>
                <td>5x com juros (2% ao mês)</td>
                <td class="price-cell">{{ 14.28 | currency }}</td>
            </tr>
        </tbody>
    </table>
</app-modal>