<app-default-page>
    <ng-container *ngIf="this.book">
        <div class="book-info">
            <div class="book-cover">
                <img alt="Capa do livro" [src]="this.book.bookCoverUrl">
            </div>
            <div class="book-data">
                <div class="book-data__name-author-and-rate">
                    <div class="book-data__name-and-author">
                        <span class="book-data__name text-preset-520">{{this.book.title}}</span>
                        <span class="book-data__author text-preset-350">Por: {{this.book.author}}</span>
                    </div>
                </div>
                <span class="book-data__price text-preset-430">R$ {{this.priceInReal}}<span class="text-preset-230">,{{this.priceInCentavos}}</span></span>
                <div class="book-buy-or-add-to-cart" *ngIf="!this.isItemOnCart && this.book.quantity > 0">
                    <app-button (btnClick)="this.buyNow()" [label]="'Comprar'"></app-button>
                    <app-button (btnClick)="this.addToCart()" [label]="'Adicionar ao carrinho'" [type]="'secondary'"></app-button>
                </div>
                <div class="book-added-to-cart" *ngIf="this.isItemOnCart && this.book.quantity > 0">
                    <span class="icon-check"></span>
                    <span class="book-added-to-cart__label">Adicionado ao carrinho</span>
                </div>
                <span class="book-data__out-of-stock text-preset-350" *ngIf="this.book.quantity === 0">Fora de estoque</span>
            </div>
        </div>
        <div class="book-synopsis">
            <span class="book-synopsis__section-title text-preset-520">Sinopse</span>
            <span class="book-synopsis__description text-preset-450">{{this.book.description}}</span>
        </div>
    </ng-container>
</app-default-page>