<app-default-page>
    <span class="page-title text-preset-650">Forma de pagamento</span>
    <app-alert
        [canClose]="true"
        (close)="this.showErrorMessage = false"
        [message]="this.errorMessage"
        *ngIf="this.showErrorMessage"
        [type]="'error'"
    ></app-alert>
    <div class="payment-options">
        <div
            class="payment-options__option text-preset-450"
            (click)="this.paymentMethod = 'Boleto'"
            [ngClass]="{ 'payment-options__option--active': this.paymentMethod === 'Boleto'}"
        >Boleto</div>
        <div
            class="payment-options__option text-preset-450"
            (click)="this.paymentMethod = 'Cartão de crédito'"
            [ngClass]="{ 'payment-options__option--active': this.paymentMethod === 'Cartão de crédito'}"
        >Cartão de crédito</div>
        <div
            class="payment-options__option text-preset-450"
            (click)="this.paymentMethod = 'Paypal'"
            [ngClass]="{ 'payment-options__option--active': this.paymentMethod === 'Paypal'}"
        >Paypal</div>
        <div
            class="payment-options__option text-preset-450"
            (click)="this.paymentMethod = 'Pix'"
            [ngClass]="{ 'payment-options__option--active': this.paymentMethod === 'Pix'}"
        >Pix</div>
    </div>
    <div class="buttons-row">
        <app-button
            [routerLink]="'/cart/delivery-address'"
            [label]="'Voltar'"
            [type]="'secondary'"
        ></app-button>
        <app-button
            (btnClick)="this.buy()"
            [disabled]="this.paymentMethod === ''"
            [label]="'Finalizar pedido'"
            [type]="'primary'"
        ></app-button>
    </div>
</app-default-page>
<app-modal
    (closeButtonClick)="this.goToHomePage()"
    [closeButtonLabel]="'Ir para página inicial'"
    *ngIf="this.showEndOfDemoModal"
    [textContent]="'Este aplicativo foi criado apenas como demonstração de como eu desenvolvo uma aplicação utilizando o Angular no front-end e Java no back-end. O objetivo não é fazer uma compra real, apenas demonstrar funcionalidades no aplicativo.'"
    [title]="'Fim da demo'"
></app-modal>