@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon/icomoon.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-books:before {
    content: "\e90d";
}

.icon-cart:before {
    content: "\e90c";
}

.icon-check:before {
    content: "\e90b";
}

.icon-check-full:before {
    content: "\e90a";
}

.icon-close:before {
    content: "\e909";
}

.icon-empty-star:before {
    content: "\e908";
}

.icon-error:before {
    content: "\e907";
}

.icon-full-star:before {
    content: "\e906";
}

.icon-half-star:before {
    content: "\e905";
}

.icon-hide-password:before {
    content: "\e904";
}

.icon-loading:before {
    content: "\e903";
}

.icon-search:before {
    content: "\e902";
}

.icon-show-password:before {
    content: "\e901";
}

.icon-warning:before {
    content: "\e900";
}