<app-logo></app-logo>
<div class="nav-links">
    <div class="cart-wrapper" [routerLink]="'/cart'">
        <span class="cart-wrapper__icon icon-cart"></span>
        <div class="cart-wrapper__itens-quantity-wrapper" *ngIf="this.cartItemQuantity > 0">
            <span class="itens-quantity-wrapper__label text-preset-250">{{this.cartItemQuantity}}</span>
        </div>
    </div>
    <div class="vertical-divider"></div>
    <span class="nav-links__link text-preset-450" *ngIf="!this.userService.isAuthenticated" [routerLink]="'/user'">Entrar</span>
    <ng-container *ngIf="this.userService.isAuthenticated">
        <span class="nav-links__username text-preset-450">
            {{"Olá, " + this.userService.authData.userPublicData?.name}}
        </span>
        <div class="vertical-divider"></div>
        <span class="nav-links__link text-preset-450" (click)="this.logOut()">Sair</span>
    </ng-container>
</div>